h1{
	text-align: center;
	color: white;
	margin-top: 10%;
	font-family: century gothic;
	font-weight: bold;
}
h4{
	text-align: center;
	color: white;
	margin-top: -6%;
	font-family: century gothic;
}
body{
	background-color:;
}
.font1{
	font-size: 20px;
	text-align: justify;
}

.font2{
	font-size: 16px;
	text-align: justify;
}
.im{
margin: 0 auto 0 auto;
}

.card-panel{
	background-color:;
}